.HomePage{
  /* margin:auto; */
  width:45%;
  /* margin-bottom: 332px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: center
}
@media only screen 
    and (max-device-width: 414px) 
    and (max-device-height: 904px) 
    and (-webkit-device-pixel-ratio: 3) {
 .HomePage{
   width: auto;
   
 }
}
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
 .HomePage{
   width: auto;
   
 }
}