.HomePage{
  margin:auto;
  width:45%
}
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
 .HomePage{
   width:80%;
    width:150px;
    margin-left:100px;
   
 }
}
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
 .HomePage{
   margin-right: 200px;
   
 }
}