.HomePage{
  margin:auto;
  width:45%;
  margin-bottom: 332px;
}
@media only screen 
    and (max-device-width: 390px) 
    and (max-device-height: 904px) 
    and (-webkit-device-pixel-ratio: 3) {
 .HomePage{
   width: auto;
   
 }
}
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
 .HomePage{
   width: auto;
   
 }
}